[Desktop Entry]
Name=Wacom Tablet
Comment=Set your Wacom tablet preferences
Exec=gnome-control-center wacom
Icon=input-tablet
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=wacom
X-GNOME-Bugzilla-Version=3.6.3
X-GNOME-Settings-Panel=wacom
# Translators: those are keywords for the wacom tablet control-center panel
Keywords=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[ar]=لوحة;واكوم;قلم;ممحاة;فأرة;
Keywords[as]=টেবলেট;Wacom;স্টাইলাচ;ইৰেজাৰ;মাউছ;
Keywords[ast]=Tablet;Wacom;Llápiz;Borrador;Mur
Keywords[be]=Планшэт;Wacom;Стыло;Сцірка;Мыш;
Keywords[bg]=Таблет;Wacom;Писалка;Гума;Мишка
Keywords[ca]=Tauleta gràfica;Wacom;Estilogràfica;Esborrador;Ratolí;
Keywords[ca@valencia]=Tauleta gràfica;Wacom;Estilogràfica;Esborrador;Ratolí;
Keywords[crh]=Tablet;Wacom;Kalem;Silgi;Fare;
Keywords[cs]=tablet;Wacom;stalus;pero;eraser;guma;myš
Keywords[da]=Tegneplade;Wacom;Pen;Viskelæder;Mus;
Keywords[de]=Tablett;Wacom;Stylus;Radiergummi;Maus;
Keywords[el]=Ταμπλέτα;Wacom;Stylus;Eraser;Ποντίκι;Mouse;Tablet;
Keywords[en_GB]=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[eo]=Tabuleto;Wacom;Grifelo;Gumo;Muso;
Keywords[es]=Tableta;Wacom;Stylus;Borrador;Ratón;
Keywords[et]=Tablet;Digitaallaud;Wacom;Stylus;Stiilus;Kirjapulk;Kustutaja;Kustukumm;Hiir
Keywords[eu]=Taula;Wacom;Estiloa;Borragoma;Sagua;
Keywords[fa]=تبلت;Wacom;Stylus;Eraser;موشی;
Keywords[fi]=Piirtopöytä;Wacom;Stylus;Eraser;Hiiri;Tablet;Mouse;
Keywords[fr]=Tablette;Wacom;Stylet;Gomme;Souris;
Keywords[ga]=Táibléad;Wacom;Stíleas;Scriosán;Luch;
Keywords[gl]=Tableta;Wacom;Stylus;Borrador;Rato;
Keywords[gu]=ટૅબલેટ;Wacom;સ્ટાયલસ;ઇરૅજર;માઉસ;
Keywords[he]=לוח;Wacom;עט מגע;מחק;מוחק;עכבר;משטח מגע;
Keywords[hi]=टैब्लेट;Wacom;लेखनी;इरेज़र;माउस;
Keywords[hu]=Tablet;Rajztábla;Wacom;Stylus;Toll;Eraser;Radír;Egér;
Keywords[id]=Tablet;Wacom;Stylus;Penghapus;Tetikus;
Keywords[it]=Tablet;Wacom;Stylus;Eraser;Mouse;Tavoletta;Penna;Gomma;
Keywords[ja]=Tablet;Wacom;Stylus;Eraser;Mouse;タブレット;スタイラスペン;ペン;消しゴム;マウス;
Keywords[km]=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[kn]=ಟ್ಯಾಬ್ಲೆಟ್;ವೇಕಾಮ್;ಸ್ಟೈಲಸ್;ಉಜ್ಜುಗ;ಮೌಸ್;
Keywords[ko]=Tablet;태블릿;Wacom;왓콤;Stylus;스타일러스;Eraser;지우개;Mouse;마우스;
Keywords[lt]=Planšetė;Wacom;Rašiklis;Trintukas;Pelė;
Keywords[lv]=Planšete;Wacom;Irbulis;Dzēšgumija;Pele;Tablet;Stylus;Eraser;Mouse;
Keywords[mk]=Таблет;Wacom;Stylus;Бришач;Глушец;
Keywords[ml]=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[mr]=टॅबलेट;वॅकॉम;स्टायलस;इरेजर;माऊस;
Keywords[nb]=Tegnebrett;Wacom;Stylus;Viskelær;Mus
Keywords[nl]=Tablet;Wacom;Stylus;Eraser;Mouse;Tekenen;Gum;Muis
Keywords[pa]=Tablet;Wacom;Stylus;Eraser;Mouse;ਟੇਬਲੇਟ;
Keywords[pl]=Tablet;Wacom;Rysik;Gumka;Mysz;
Keywords[pt]=Tablet;Wacom;Caneta;Stylus;Borracha;Rato;
Keywords[pt_BR]=Tablet; Wacom;Caneta;Borracha;Mouse;
Keywords[ru]=Планшет;Wacom;Перо;Ластик;Мышь;
Keywords[sk]=Tablet;Wacom;Stylus;Guma;Myš;
Keywords[sl]=Tablica;Wacom;Stylus;Eraser;Miška;
Keywords[sr]=Таблица;Ваком;Пенкало;Брисач;Миш;
Keywords[sr@latin]=Tablica;Vakom;Penkalo;Brisač;Miš;
Keywords[sv]=Ritplatta;Wacom;Penna;Raderare;Mus;
Keywords[ta]=தொடுதட்டு;வாகாம்;எழுத்தாணி;துடைப்பி;சொடுக்கி;
Keywords[te]=ట్యాబ్లెట్;వాకం;శ్టైలస్;ఇరేసర్;మౌజ్;
Keywords[th]=แท็บเล็ต;Wacom;ปากกา;สไตลัส;ยางลบ;เมาส์;
Keywords[tr]=Tablet;Wacom;Kalem;Silgi;Fare;
Keywords[uk]=Планшет;Wacom;Стилус;Гумка;Миша;
Keywords[vi]=Tablet;Wacom;Stylus;Eraser;Mouse;Chuột;Chuot;
Keywords[zh_CN]=Tablet;Wacom;Stylus;Eraser;Mouse;手写板;手写板;写字笔;擦除器;鼠标;
Keywords[zh_HK]=Tablet;Wacom;Stylus;Eraser;Mouse;繪圖板;橡皮擦;滑鼠;
Keywords[zh_TW]=Tablet;Wacom;Stylus;Eraser;Mouse;繪圖板;橡皮擦;滑鼠;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
