[Desktop Entry]
Name=Online Accounts
Comment=Manage online accounts
Exec=gnome-control-center online-accounts
Icon=goa-panel
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Online Accounts
X-GNOME-Bugzilla-Version=3.6.3
X-GNOME-Settings-Panel=online-accounts
# Translators: those are keywords for the online-accounts control-center panel
Keywords=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[af]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;gesels;kalender;pos;epos;e-pos;kontak
Keywords[ar]=جوجل;جووجل;فيسبوك;تويتر;ياهو;وب;ويب;محادثة;تقويم;بريد;اتصال;
Keywords[as]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[ast]=Google;Facebook;Twitter;Yahoo;Web;En llinia;Chat;Calendariu;Corréu-e;Contautu;
Keywords[be]=Google;Facebook;Twitter;Yahoo;Сеціва;Інтэрнэт;Чат;Каляндар;Пошта;Кантакты;Сувязь;
Keywords[bg]=Google;Facebook;Twitter;Yahoo;Уеб;В мрежа;Разговор;Календар;Поща;Контакт;
Keywords[ca]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;
Keywords[ca@valencia]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;
Keywords[crh]=Google;Facebook;Twitter;Yahoo;Web;Çevrimiçi;Sohbet;Takvim;Posta;Bağlantı;
Keywords[cs]=Google;Facebook;Twitter;Yahoo;web;on-line;diskuze;kalendář;e-mail;pošta;kontakt;
Keywords[da]=Google;Facebook;Twitter;Yahoo;Internet;Online;Chat;Kalendar;Post;Kontaktpersoner;
Keywords[de]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Kalender;Mail;Kontakt;
Keywords[el]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Ημερολόγιο;Αλληλογραφία;Επαφές;Chat;Calendar;Mail;Contact;
Keywords[en_GB]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[eo]=Guglo;Vizaĵlibro;Tvitero;Jahuo;Reto;Konektite;Retbabilejo;Kalendaro;Retpoŝto;Kontaktoj;
Keywords[es]=Google;Facebook;Twitter;Yahoo;Web;En línea;Chat;Calendario;Correo-e;Contacto;
Keywords[et]=Google;Facebook;Twitter;Yahoo;veeb;onlain;vestlus;kalender;meil;kontaktid;
Keywords[eu]=Google;Facebook;Twitter;Yahoo;Weba;Linean;Berriketa;Egutegia;Posta;Kontaktua;
Keywords[fa]=گوگل;فیس بوک;تویتر;یاهو;وب;برخط;گپ;تقویم;پست‌الکترونیکی;آشنا;
Keywords[fi]=Google;Facebook;Twitter;Yahoo;Web;WWW;Online;keskustelu;Chat;kalenteri;Calendar;sähköposti;Mail;yhteystiedot;kontaktit;Contact;
Keywords[fr]=Google;Facebook;Twitter;Yahoo;Web;En ligne;Chat;Calendrier;Courriel;Email;Contact;
Keywords[ga]=Google;Facebook;Twitter;Yahoo;Gréasán;Ar Líne;Comhrá;Féilire;Post;Teagmháil;
Keywords[gl]=Google;Facebook;Twitter;Yahoo;Web;En liña;Conversa;Calendario;Correo-e;Contacto;
Keywords[gu]=Google;Facebook;Twitter;Yahoo;વેબ;ઓનલાઇન;વાતચીત;કૅલેન્ડર;મેઇલ;સંપર્ક;
Keywords[he]=Google;Facebook;Twitter;Yahoo;Web;מקוון;שיחה;יומן;דוא״ל;לוח שנה;
Keywords[hi]=गूगल;फेसबुक;ट्विटर;याहू;वेब;ऑनलाइन;चैट;कैलेंडर;मेल;संपर्क;
Keywords[hu]=Google;Facebook;Twitter;Yahoo;Web;Online;Csevegés;Chat;Naptár;E-mail;Levél;Levelezés;Névjegyek;
Keywords[id]=Google;Facebook;Twitter;Yahoo;Web;Daring;Chat;Kalender;Surel;Kontak;
Keywords[it]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendario;Email;Posta;Contatto;Contatti;
Keywords[ja]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ウェブ;オンライン;チャット;カレンダー;メール;連絡先
Keywords[km]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[kn]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[ko]=Google;구글;Facebook;페이스북;Twitter;트위터;Yahoo;야후;Web;웹;Online;온라인;Chat;채팅;Calendar;달력;Mail;메일;Contact;연락처;
Keywords[lt]=Google;Facebook;Twitter;Yahoo;Internetas;Tinkle;Pokalbiai;Kalendorius;Paštas;Adresatai;
Keywords[lv]=Google;Facebook;Twitter;Yahoo;Web;Tīmeklis;Tiešsaiste;Tērzēšana;Kalendārs;Pasts;kontakti;Online;Chat;Calendar;Mail;Contact;
Keywords[mk]=Google;Facebook;Twitter;Yahoo;Веб;Онлајн;Разговор;Календар;Пошта;Контакт;
Keywords[ml]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[mr]=गूगल;फेसबूक;ट्विटर;याहू;वेब;ऑनलाइन;चॅट;कॅलेंडर;मेल;काँट्रॅक्ट;
Keywords[nb]=Google;Facebook;Twitter;Yahoo;Web;Nett;Lynmeldinger;Kalender;E-post;Kontakt;
Keywords[nl]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[nn]=Google;Facebook;Twitter;Yahoo;Nett;Web;Chat;Nettprat;Kalender;E-post;Kontakt;
Keywords[or]=Google;Facebook;Twitter;Yahoo;ୱେବ;ଅନଲାଇନ;ଚାର୍ଟ;କ୍ୟାଲେଣ୍ଡର;ମେଲ;ସମ୍ପର୍କ;
Keywords[pa]=ਗੂਗਲ;ਫੇਸਬੁੱਕ;ਟਵਿੱਟਰ;ਯਾਹੂ;ਵੈੱਬ;ਆਨਲਾਈਨ;ਗੱਲਬਾਤ;ਚੈਟ;ਕੈਲੰਡਰ;ਮੇਲ;ਸੰਪਰਕ;Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[pl]=Google;Facebook;Twitter;Yahoo;WWW;Online;Komunikator;Kalendarz;Poczta;e-mail;email;Kontakt;
Keywords[pt]=Google;Facebook;Twitter;Yahoo;Web;Online;Diálogo;Calendário;Mail;Contacto;
Keywords[pt_BR]=Google;Facebook;Twitter;Yahoo;Web;Conectado;Bate-papo;Calendário;E-mail;Contato;
Keywords[ru]=Google;Facebook;Twitter;Yahoo;Web;Онлайн;Чат;Календарь;Почта;Контакт;
Keywords[sk]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Rozhovor;Kalendár;Mail;Email;Kontakt;
Keywords[sl]=Google;Facebook;Twitter;Yahoo;Splet;Klepet;Koledar;Elektronska pošta;Stiki;Računi;
Keywords[sr]=Гугл;Фејсбук;Твитер;Јаху;Веб;На мрежи;Ћаскање;Календар;Пошта;Контакт;
Keywords[sr@latin]=Gugl;Fejsbuk;Tviter;Jahu;Veb;Na mreži;Ćaskanje;Kalendar;Pošta;Kontakt;
Keywords[sv]=Google;Facebook;Twitter;Yahoo;Webb;Online;Chatt;Kalender;E-post;Kontakt;
Keywords[ta]=கூகுள்;பேஸ்புக்;ட்விட்டர்;யாஹூ;வலை;ஆன்லைன்;அரட்டை;அஞ்சல்;தொடர்பு;
Keywords[te]=గూగుల్;ఫేస్‌బుక్;ట్విట్టర్;యాహూ;జాలం;ఆన్‌లైన్;సంభాషణ;క్యాలెండర్;మెయిల్;పరిచయం;
Keywords[th]=กูเกิล;เฟซบุ๊ก;ทวิตเตอร์;ยาฮู;เว็บ;ออนไลน์;แช็ต;ปฏิทิน;เมล;ที่อยู่ติดต่อ;
Keywords[tr]=Google;Facebook;Twitter;Yahoo;Web;Çevrimiçi;Sohbet;Takvim;Posta;Bağlantı;
Keywords[ug]=Google;Facebook;Twitter;Yahoo;Web;توردا;سۆزلىشىش;يىلنامە;خەت;ئالاقەداش;
Keywords[uk]=Google;Facebook;Twitter;Yahoo;Інтернет;Мережа;Балачка;Календар;Пошта;Контакт;
Keywords[vi]=Google;Facebook;Twitter;Yahoo;Web;Online;Truc;tuyen;Chat;Calendar;Lịch;Lich;Mail;Thư;Thu;Contact;Liên;lạc;Lien;lac;
Keywords[zh_CN]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;网络;在线;聊天;日历;邮件;联系人;
Keywords[zh_HK]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;網頁;網上;聊天;行事曆;郵件;聯絡人;
Keywords[zh_TW]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;網頁;線上;聊天;行事曆;郵件;連絡人;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
