[Desktop Entry]
Name=Date & Time
Comment=Date and Time preferences panel
Exec=gnome-control-center datetime
Icon=preferences-system-time
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;
X-GNOME-Settings-Panel=datetime
# Translators: those are keywords for the date and time control-center panel
Keywords=Clock;Timezone;Location;
Keywords[af]=Clock;Timezone;Location;horlosie;tydsone;ligging
Keywords[ar]=ساعة;توقيت;منطقة زمنية;منطقة;
Keywords[as]=ঘড়ি;সময়অঞ্চল;অৱস্থান
Keywords[ast]=Reló;Estaya horaria;Allugamientu;
Keywords[be]=Гадзіннік;Часавы пояс;Месцазнаходжанне;Месца;
Keywords[bg]=Часовник;Часови пояс;Местоположение;
Keywords[bn]=ঘড়ি;টাইম জোন;অবস্থান;
Keywords[ca]=Rellotge;Zona horària;Ubicació;
Keywords[ca@valencia]=Rellotge;Zona horària;Ubicació;
Keywords[crh]=Saat;Saat Tilimi;Qonum;
Keywords[cs]=hodiny;časové pásmo;umístění;
Keywords[da]=Ur;Tidszone;Sted;
Keywords[de]=Uhr;Zeitzone;Ort;
Keywords[el]=Ρολόι;Ζώνη ώρας;Τοποθεσία;Clock;Timezone;Location;
Keywords[en_GB]=Clock;Timezone;Location;
Keywords[eo]=Horo;Horzono;Loko;
Keywords[es]=Reloj;Zona horaria;Ubicación;
Keywords[et]=Kell;Ajavöönd;Asukoht;
Keywords[eu]=Erlojua;Ordu-zona;Kokalekua;
Keywords[fa]=سایت;منطقه‌ی زمانی;مکان;
Keywords[fi]=Kello;Aikavyöhyke;Sijainti;
Keywords[fr]=Horloge;Fuseau;Heure;Date;Emplacement;
Keywords[ga]=Clog;Crios Ama;Suíomh;
Keywords[gl]=Reloxo;Fuso horario;Localización;
Keywords[gu]=ઘડિયાળ;ટાઇમઝોન;સ્થાન;
Keywords[he]=שעון;אזור זמן;מיקום;
Keywords[hi]=घड़ी;समय क्षेत्र;स्थान;
Keywords[hu]=Óra;Időzóna;Hely;
Keywords[id]=Jam;Zona waktu;Lokasi;
Keywords[it]=Orologio;Tempo;Data;Fuso;Posizione;Orario;
Keywords[ja]=Clock;Timezone;Location;時計;日付;時刻;時間;日時;タイムゾーン;場所;
Keywords[km]=Clock;Timezone;Location;
Keywords[kn]=ಗಡಿಯಾರ;ಕಾಲವಲಯ;ಸ್ಥಳ;
Keywords[ko]=Clock;시계;Timezone;시간대;Location;위치;
Keywords[ku]=Demjimêr;Herêma demê;Cih;
Keywords[ky]=Саат;Убакыт зонасы;Жайгашуу;
Keywords[lt]=Laikrodis;Laiko juosta;Vietovė;
Keywords[lv]=Pulkstenis;Laika josla;Vieta;Laiks;Clock;Timezone;Location;
Keywords[mk]=Часовник;Временска зона;Локација;
Keywords[ml]=Clock;Timezone;Location;
Keywords[mr]=क्लॉक;टाइमझोन;ठिकाण;
Keywords[nb]=Klokke;Tidssone;Plassering;Adresse;
Keywords[nl]=Clock;Timezone;Location;Klok;Tijdzone;Locatie;
Keywords[nn]=Klokke;Tidssone;Stad
Keywords[or]=ଘଡ଼ି;ସମୟ ମଣ୍ଡଳ;ଅବସ୍ଥାନ;
Keywords[pa]=ਘੜੀ;ਸਮਾਂ-ਖੇਤਰ;ਟਿਕਾਣਾ;
Keywords[pl]=Zegar;Strefa czasowa;Położenie;
Keywords[pt]=Relógio;Fuso-Horário;Localização;
Keywords[pt_BR]=Relógio;Fuso horário;Localização;
Keywords[ro]=Clock;Timezone;Location;Ceas;Fus orar;Locație;Ora;Data;Oră;Dată;
Keywords[ru]=Часы;Часовой;Местоположение;
Keywords[sk]=Hodiny;Čas;Zóna;Pásmo;Poloha;
Keywords[sl]=Ura;Časovni pas;Mesto;
Keywords[sr]=Сат;Временска зона;Место;
Keywords[sr@latin]=Sat;Vremenska zona;Mesto;
Keywords[sv]=Klocka;Tidszon;Plats;
Keywords[ta]=கடிகாரம்;நேரமண்டலம்;இடம்;
Keywords[te]=గడియారం;సమయక్షేత్రం;ప్రదేశం;
Keywords[th]=นาฬิกา;เขตเวลา;ตำแหน่งที่ตั้ง;
Keywords[tr]=Saat;Saat Dilimi;Yer;
Keywords[ug]=سائەت;ۋاقىت رايونى;ئورۇن;
Keywords[uk]=Годинник;Пояс;Місцевість;
Keywords[vi]=Clock;Đồng;hồ;Dong;ho;Timezone;Múi;giờ;Mui;gio;Location;Vị;trí;Vi;tri;
Keywords[zh_CN]=Clock;Timezone;Location;时钟;时区;位置;
Keywords[zh_HK]=Clock;Timezone;Location;時鐘;時區;位置;
Keywords[zh_TW]=Clock;Timezone;Location;時鐘;時區;位置;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
