[Desktop Entry]
Name=Keyboard
Comment=Change keyboard settings
Exec=gnome-control-center keyboard
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=keyboard
X-GNOME-Bugzilla-Version=3.6.3
X-GNOME-Settings-Panel=keyboard
# Translators: those are keywords for the keyboard control-center panel
Keywords=Shortcut;Repeat;Blink;
Keywords[af]=Shortcut;Repeat;Blink;kortpad;herhaal;flikker
Keywords[ar]=اختصار;تكرار;وميض;
Keywords[as]=চৰ্টকাট;পুনৰাবৃত্তি;পিৰিকিয়া;
Keywords[ast]=Atayu;Repetir;Parpaguiar;
Keywords[be]=Клавіятурны скарот;Паўтор;Мільганне курсора;
Keywords[bg]=Клавишна комбинация;Повторение;Мигане;
Keywords[bn]=শর্টকাট;পুনরাবৃত্ত করা;মিটিমিটি জ্বলা;
Keywords[ca]=Drecera;Repeteix;Parpelleig;
Keywords[ca@valencia]=Drecera;Repeteix;Parpelleig;
Keywords[crh]=Qısqayol;Tekrar;Qıpma;
Keywords[cs]=zkratka;opakovat;blikat;
Keywords[da]=Genvej;Gentagelse;Blink;
Keywords[de]=Kürzel;Wiederholen;Blinken;
Keywords[el]=Συντόμευση;Επανάληψη;Αναβόσβημα;Shortcut;Repeat;Blink;
Keywords[en_GB]=Shortcut;Repeat;Blink;
Keywords[eo]=Klavkombino;Ripeto;Pulso
Keywords[es]=Atajo;Repetir;Parpadear;
Keywords[et]=Kiirklahv;Kordus;Vilkumine;
Keywords[eu]=Laster-tekla;Errepikatu;Keinua;
Keywords[fa]=میان‌بر;تکرار;چشمک;
Keywords[fi]=Pikanäppäin;Toisto;Vilkkuminen;
Keywords[fr]=Raccourci;Répétition;Clignotement;
Keywords[gl]=Atallo;Repetir;Parpadear;
Keywords[gu]=ટૂંકાણ;ચાલુ રાખો;ઝબૂકવુ;
Keywords[he]=קיצור דרך;חזרה;הבהוב;
Keywords[hi]=शॉर्टकट;दोहराएँ;ब्लिंक;
Keywords[hu]=Gyorsbillentyű;Ismétlés;Villogás
Keywords[id]=Pintasan;Pengulangan;Kedip;
Keywords[it]=Scorciatoie;Ripetizione;Lampeggiamento;
Keywords[ja]=Shortcut;Repeat;Blink;ショートカット;リピート;点滅;
Keywords[km]=Shortcut;Repeat;Blink;
Keywords[kn]=ಶಾರ್ಟ್-ಕಟ್;ಪುನರಾವರ್ತನೆ;ಮಿಟುಕಿಸು;
Keywords[ko]=Shortcut;바로 가기;Repeat;반복;Blink;깜박;
Keywords[ky]=Комбинация;Кайталоо;Өчүп-жануу;
Keywords[lt]=Trumpinys;Pakartoti;Mirksėti;
Keywords[lv]=Īsceļš;Atkārtot;Mirkšķināt;Shortcut;Repeat;Blink;
Keywords[mk]=Кратенка;Повтори;Трепкај;
Keywords[ml]=Shortcut;Repeat;Blink;
Keywords[mr]=शार्टकट;रिपिट;ब्लिंक;
Keywords[nb]=Snarvei;Repetisjon;Blinking;
Keywords[nl]=Shortcut;Repeat;Blink;Sneltoets;Herhalen;Knipperen;
Keywords[nn]=Snøggtast;Repeter;Blink;
Keywords[or]=ସଂକ୍ଷିପ୍ତ ପଥ;ପୁନରାବୃତ୍ତି;ମିଞ୍ଜି ମିଞ୍ଜି;
Keywords[pa]=ਸ਼ਾਰਟਕੱਟ;ਦੁਹਰਾਉ;ਬਲਿੰਕ;
Keywords[pl]=Skrót;Powtarzanie;Miganie;
Keywords[pt]=Atalho;Repetição;Piscar;
Keywords[pt_BR]=Atalho;Repetir;Piscar;
Keywords[ro]=Shortcut;Repeat;Blink;Scurtătură;Repetare;Clipire;Licărire;Scurtatură;Scurtatura;Repet
Keywords[ru]=Комбинация;Повтор;Мигание;
Keywords[sk]=Skratka;Skratky;Opakovanie;Blikanie;Rýchlosť;
Keywords[sl]=Bližnjica;Ponovi;Zabliskaj;
Keywords[sr]=Пречица;Понови;Трепни;
Keywords[sr@latin]=Prečica;Ponovi;Trepni;
Keywords[sv]=Genväg;Repetera;Blink;
Keywords[ta]=சுருக்குவழி;மீண்டும்நிகழ்த்து;கண்ணிமை;
Keywords[te]=అడ్డదారి;పునరావృతం;బ్లింక్;
Keywords[th]=ปุ่มลัด;ซ้ำปุ่ม;กะพริบ;
Keywords[tr]=Kısayol;Tekrar;Kırpma;
Keywords[ug]=قىسقا يول;تەكرارلا;چاقنا;
Keywords[uk]=Скорочення;Повтори;Блимання
Keywords[vi]=Shortcut;Phím;tắt;phim;tat;Repeat;Lặp;lap;Blink;Nháy;nhay;
Keywords[zh_CN]=Shortcut;Repeat;Blink;快捷键;重复;闪烁;
Keywords[zh_HK]=Shortcut;Repeat;Blink;捷徑鍵;重複;閃爍;
Keywords[zh_TW]=Shortcut;Repeat;Blink;捷徑鍵;重複;閃爍;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
