[Desktop Entry]
Name=Printers
Comment=Change printer settings
Exec=gnome-control-center printers
Icon=printer
Terminal=false
Type=Application
StartupNotify=true
# The X-GNOME-Settings-Panel is necessary to show in the main shell UI
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Settings-Panel=printers
# Translators: those are keywords for the printing control-center panel
Keywords=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[af]=Printer;Queue;Print;Paper;Ink;Toner;drukker;druk;papier
Keywords[ar]=طابعة;طباعة;طبع;ورق;حبر;
Keywords[as]=প্ৰিন্টাৰ;শাৰী;প্ৰিন্ট;কাগজ;কালী;টনাৰ;
Keywords[ast]=Imprentadora;Cola;Imprentar;Papel;Tinta;Tóner;
Keywords[be]=Прынтар;Чарга;Друк;Папера;Аркуш;Чарніла;Тонер;
Keywords[bg]=Принтер;Опашка;Печат;Хартия;Мастило;Тонер;
Keywords[bn]=মুদ্রণযন্ত্র;সারি;মুদ্রণ;কাগজ;কালি;টোনার;
Keywords[ca]=Impressora;Cua;Imprimir;Paper;Tinta;Tòner;
Keywords[ca@valencia]=Impressora;Cua;Imprimir;Paper;Tinta;Tòner;
Keywords[crh]=Yazıcı;Kuyruk;Yazdur;Kâğıt;Mürekkep;Toner;
Keywords[cs]=tiskárna;fronta;tisk;papír;inkoust;toner;
Keywords[da]=Printer;Kø;Print;Papir;Blæk;Toner;
Keywords[de]=Drucker;Warteschlange;Drucken;Papier;Tinte;Toner;Tintenpatrone;
Keywords[el]=Εκτυπωτής;Ουρά;Εκτύπωση;Χαρτί;Μελάνι;Τόνερ;Printer;Queue;Print;Paper;Ink;Toner;
Keywords[en_GB]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[eo]=Presilo;Atendovico;Presi;Papero;Inko;Inkopulvoro;
Keywords[es]=Impresora;Cola;Imprimir;Papel;Tinta;Tóner;
Keywords[et]=Printer;Printimine;Printimisjärjekord;Trükkimine;Trükkimisjärjekord;Paber;Tint;Tooner;
Keywords[eu]=Inprimagailua;Ilara;Inprimatu;Papera;Tinta;Tonerra
Keywords[fa]=چاپگر;صف;چاپ;کاغذ;جوهر;Toner;
Keywords[fi]=tulostin;jono;tulosta;paperi;muste;värikasetti;Printer;Queue;Print;Paper;Ink;Toner;
Keywords[fr]=Imprimante;File;Queue;Impression;Papier;Encre;Toner;
Keywords[gl]=Impresora;Cola;Imprimir;Papel;Tinta;Tóner;
Keywords[gu]=પ્રિન્ટર;કતાર;છાપો;પેપર;સહી;ટૉનર;
Keywords[he]=מדפסת;תור;הדפסה;דף;דיו;טונר;
Keywords[hi]=प्रिंटर;पंक्ति;मुद्रण;पेपर;इंक;टोनर;
Keywords[hu]=Nyomtató;Sor;Nyomtatás;Papír;Tinta;Festékkazetta;
Keywords[id]=Pencetak;Antrian;Cetak;Kertas;Tinta;Pewarna;
Keywords[it]=Stampante;Coda;Stampa;Carta;Inchostro;Toner;
Keywords[ja]=Printer;Queue;Print;Paper;Ink;Toner;プリンター;キュー;印刷;紙;インク;トナー;
Keywords[km]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[kn]=ಮುದ್ರಕ;ಸರತಿ;ಮುದ್ರಣ;ಕಾಗದ;ಶಾಯಿ;ಟೋನರ್;
Keywords[ko]=Printer;프린터;Queue;대기열;Print;인쇄;Paper;용지;종이;Ink;잉크;Toner;토너;
Keywords[ky]=Принтер;Кезек;Басуу;Кагаз;Боёк;Тонер;
Keywords[lt]=Spausdintuvas;Eilė;Spausdinti;Rašalas;
Keywords[lv]=Printeris;Rinda;Drukāt;Papīrs;Tinte;Toneris;Paper;Ink;
Keywords[mk]=Печатач;Ред;Печати;Хартија;Боја за печатење;Тонер;
Keywords[ml]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[mr]=प्रिंटर;क्युउ;प्रिंट;पेपर;इंक;टोनर;
Keywords[nb]=Skriver;Kø;Utskrift;Papir;Blekk;Toner;
Keywords[nl]=Printer;Queue;Print;Paper;Ink;Toner;Wachtrij;Papier;Inkt;
Keywords[nn]=Skrivar;Kø;Utskrift;Papir;Blekk;Tonar;
Keywords[or]=ମୁଦ୍ରଣୀ;କ୍ରମ;ମୁଦ୍ରଣ କରନ୍ତୁ;କାଗଜ;କାଳି;ଟୋନର;
Keywords[pa]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[pl]=Drukarka;Kolejka;Drukowanie;Papier;Atrament;Tusz;Toner;
Keywords[pt]=Impressora;Pilha;Imprimir;Papel;Tinta;Toner;
Keywords[pt_BR]=Impressora;Fila;Imprimir;Papel;Tinta;Toner;
Keywords[ro]=Printer;Queue;Print;Paper;Ink;Toner;Imprimantă;Tipărire;Coadă;Tiparire;Coada;Hartie;Hârtie;Cerneală;Cerneala;Toner;Laser
Keywords[ru]=Принтер;Очередь;Печать;Бумага;Чернила;Тонер;
Keywords[sk]=Tlačiareň;Rad;Tlač;Papier;Atrament;Toner;
Keywords[sl]=Tiskalnik;Vrsta;Tiskanje;Papir;Črnilo;Toner
Keywords[sr]=Штампач;Ред;Штампа;Папир;Мастило;Тонер;
Keywords[sr@latin]=Štampač;Red;Štampa;Papir;Mastilo;Toner;
Keywords[sv]=Skrivare;Kö;Skriv ut;Papper;Bläck;Toner;
Keywords[ta]=அச்சுப்பொறி;வரிசை;அச்சடி;காகிதம்;மசி;டோனர்
Keywords[te]=ముద్రకం;వరుస;ముద్రించు;కాగితం;సిరా;టోనర్;
Keywords[th]=เครื่องพิมพ์;คิว;พิมพ์;กระดาษ;หมึก;ผงหมึก;
Keywords[tr]=Yazıcı;Kuyruk;Yazdur;Kâğıt;Mürekkep;Toner;
Keywords[ug]=پرىنتېر؛ئۆچىرەت؛بېسىش؛قەغەز؛سىياھ؛سىياھ كۇكۇنى؛
Keywords[uk]=Принтер;Черга;Друк;Папір;Чорнило;Тонер;
Keywords[vi]=Printer;Máy;in;May;Queue;Print;In;Paper;Giấy;Giay;Ink;Mực;Muc;Toner;
Keywords[zh_CN]=Printer;Queue;Print;Paper;Ink;Toner;打印机;队列;打印;纸张;墨水;墨粉;硒鼓;墨盒
Keywords[zh_HK]=Printer;Queue;Print;Paper;Ink;Toner;打印機;佇列;列印;紙張;墨水;碳粉;
Keywords[zh_TW]=Printer;Queue;Print;Paper;Ink;Toner;印表機;佇列;列印;紙張;墨水;碳粉;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
