[Desktop Entry]
Name=Region & Language
Name[ar]=المنطقة واللغة
Name[as]=অঞ্চল & ভাষা
Name[be]=Мясцовасць і мова
Name[bg]=Регион и език
Name[ca]=Regió i idioma
Name[ca@valencia]=Regió i idioma
Name[cs]=Region a jazyk
Name[da]=Region & sprog
Name[de]=Region und Sprache
Name[el]=Περιοχή & γλώσσα
Name[en_GB]=Region & Language
Name[es]=Región e idioma
Name[et]=Piirkond ja keel
Name[fa]=ناحیه و زبان
Name[fi]=Alue ja kielet
Name[fr]=Pays & langue
Name[ga]=Réigiún & Teanga
Name[gl]=Rexión e idioma
Name[gu]=પ્રદેશ અને ભાષા
Name[he]=אזור ושפה
Name[hi]=क्षेत्र और भाषा
Name[hu]=Terület és nyelv
Name[id]=Wilayah & Bahasa
Name[ja]=地域と言語
Name[km]=តំបន់ និង​ភាសា
Name[kn]=ಪ್ರದೇಶ ಹಾಗು ಭಾಷೆ
Name[ko]=지역 및 언어
Name[ky]=Регион жана тил
Name[lt]=Regionas ir kalba
Name[lv]=Vieta un valoda
Name[ml]=സ്ഥലവും ഭാഷയും
Name[mr]=क्षेत्र व भाषा
Name[nb]=Region og språk
Name[or]=ଅଞ୍ଚଳ ଏବଂ ଭାଷା
Name[pa]=ਖੇਤਰ ਅਤੇ ਭਾਸ਼ਾ
Name[pl]=Region i język
Name[pt]=Região & Idioma
Name[pt_BR]=Região & idioma
Name[ru]=Язык и регион
Name[sk]=Región a jazyk
Name[sl]=Področje in jezik
Name[sr]=Регион и језик
Name[sr@latin]=Region i jezik
Name[ta]= வட்டாரம் மற்றும் மொழி 
Name[te]=ప్రాంతము & భాష
Name[th]=ภูมิภาค & ภาษา
Name[uk]=Регіон та мова
Name[vi]=Lãnh thổ và ngôn ngữ
Name[zh_CN]=区域和语言
Name[zh_HK]=地區和語言
Name[zh_TW]=地區和語言
Comment=Change your region and language settings
Comment[af]=Verander jou instellings vir streek en taal
Comment[ar]=غيّر إعدادات المنطقة واللغة
Comment[as]=আপোনাৰ অঞ্চল আৰু ভাষা সংহতিসমূহ সলনি কৰক
Comment[ast]=Cambiar los axustes de rexón y llingua
Comment[be]=Змяніць настройкі вашай мясцовасці і мовы
Comment[bg]=Променете своите регионални и езикови настройки
Comment[bn]=আপনার অঞ্চল এবং ভাষার সেটিং পরিবর্তন
Comment[ca]=Canvieu els paràmetres de regió i idioma
Comment[ca@valencia]=Canvieu els paràmetres de regió i idioma
Comment[crh]=Bölge ve dil ayarlarını değiştirin
Comment[cs]=Změňte svůj region a nastavení jazyka
Comment[da]=Ændr indstillinger for sprog og region
Comment[de]=Einstellungen für Region und Sprache ändern
Comment[el]=Αλλαγή ρυθμίσεων της περιοχής και γλώσσας
Comment[en_GB]=Change your region and language settings
Comment[eo]=Ŝanĝi vian regionon kaj lingvajn agordojn
Comment[es]=Cambiar su configuración de región e idioma
Comment[et]=Sinu asukoha- ja keelesätete muutmine
Comment[eu]=Aldatu zure eskualde eta hizkuntzaren ezarpenak
Comment[fa]=تغییر تنظیمات ناحیه و زیان شما
Comment[fi]=Muuta alue- ja kieliasetuksia
Comment[fr]=Modifier les paramètres de pays et de langue
Comment[gl]=Cambiar as súas preferencias de rexión e idioma
Comment[gu]=તમારો પ્રદેશ અને ભાષા સુયોજનોને બદલો
Comment[he]=שינוי ההגדרות בהתאם לשפה ולאזור
Comment[hi]=अपने क्षेत्र और भाषा सेटिंग्स को बदलें
Comment[hu]=Területi és nyelvi beállítások módosítása
Comment[id]=Ubah pengaturan wilayah dan bahasa Anda
Comment[it]=Cambia le impostazioni su regione e lingua
Comment[ja]=地域と言語に関する設定の変更
Comment[kk]=Аймақ пен тіл баптауларын өзгерту
Comment[km]=ផ្លាស់ប្ដូរ​ការ​កំណត់​តំបន់ និង​ភាសា​របស់​អ្នក
Comment[kn]=ನಿಮ್ಮ ಪ್ರದೇಶ ಹಾಗೆ ಭಾಷೆಯ ಸಿದ್ಧತೆಗಳನ್ನು ಆರಿಸಿ
Comment[ko]=지역 및 언어 설정을 바꿉니다
Comment[ky]=Сиздин регион жана тил параметрлери
Comment[lt]=Keiskite savo regiono ir kalbos nustatymus
Comment[lv]=Mainīt reģiona un valodas iestatījums
Comment[mk]=Промени ги поставувањата за регион и јазик
Comment[ml]=നിങ്ങളുടെ സ്ഥലം, ഭാഷ സജ്ജീകരണങ്ങള്‍ മാറ്റുക
Comment[mr]=क्षेत्र व भाषा सेटिंग्स् बदला
Comment[nb]=Bytt region og språkinnstillinger
Comment[nl]=Regionale en taalinstellingen wijzigen
Comment[nn]=Endra region- og språkinnstillingane dine
Comment[or]=ଆପଣଙ୍କର ଅଞ୍ଚଳ ଏବଂ ଭାଷା ବିନ୍ୟାସକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਖੇਤਰੀ ਅਤੇ ਭਾਸ਼ਾ ਸੈਟਿੰਗ ਬਦਲੋ
Comment[pl]=Zmiana ustawień regionu i języka
Comment[pt]=Alterar as definições de região e idioma
Comment[pt_BR]=Alterar suas configurações de região e idioma
Comment[ro]=Schimbă configurările de regiune și limbă
Comment[ru]=Изменить языковые и региональные параметры
Comment[sk]=Mení nastavenia regiónu a jazyka
Comment[sl]=Spremenite svoje področne in jezikovne nastavitve
Comment[sr]=Измените ваша подешавања региона и језика
Comment[sr@latin]=Izmenite vaša podešavanja regiona i jezika
Comment[sv]=Ändra inställningar för din region och ditt språk
Comment[ta]=உங்கள் வட்டாரத்தையும் மொழி அமைவையும் மாற்றி அமைக்க
Comment[te]=మీ ప్రాంతం మరియు భాషా అమరికలను మార్చు
Comment[th]=เปลี่ยนค่าตั้งเกี่ยวกับภูมิภาคและภาษาของคุณ
Comment[tr]=Bölge ve dil ayarlarını değiştirin
Comment[ug]=رايون ۋە تىل تەڭشىكىڭىزنى ئۆزگەرتىدۇ
Comment[uk]=Налаштувати ваш регіон і мову
Comment[vi]=Thay đổi thiết lập lãnh thổ và ngôn ngữ
Comment[zh_CN]=更改您的区域和语言设置
Comment[zh_HK]=改變你的地區和語言設定值
Comment[zh_TW]=改變您的地區和語言設定值
Exec=gnome-control-center region
Icon=preferences-desktop-locale
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=region
X-GNOME-Bugzilla-Version=3.6.3
X-GNOME-Settings-Panel=region
# Translators: those are keywords for the region control-center panel
Keywords=Language;Layout;Keyboard;
Keywords[af]=Language;Layout;Keyboard;taal;uitleg;sleutelbord;toetsbord
Keywords[ar]=اللغة;التخطيط;مفاتيح;
Keywords[as]=ভাষা;বিন্যাস;কিবৰ্ড
Keywords[ast]=Llingua;Distribución;Tecláu;
Keywords[be]=Мова;Раскладка;Клавіятура;
Keywords[bg]=Език;Подредба;Клавиатура;
Keywords[bn]=ভাষা;বহির্বিন্যাস;কীবোর্ড;
Keywords[ca]=Idioma;Disposició;Teclat;
Keywords[ca@valencia]=Idioma;Disposició;Teclat;
Keywords[crh]=Til;Tizilim;Klavye;
Keywords[cs]=jazyk;rozložení;klávesnice
Keywords[da]=Sprog;Layout;Tastatur;
Keywords[de]=Sprache;Belegung;Tastatur;
Keywords[el]=Γλώσσα;Διάταξη;Πληκτρολόγιο;Language;Layout;Keyboard;
Keywords[en_GB]=Language;Layout;Keyboard;
Keywords[eo]=Lingvo;Aranĝo;Klavaro;
Keywords[es]=Idioma;Distribución;Teclado;
Keywords[et]=Keel;Paigutus;Klaviatuur;
Keywords[eu]=Hizkuntza;Diseinua;Teklatua;
Keywords[fa]=زیان;چیدمان;صفحه‌کلید؛
Keywords[fi]=Kieli;Asettelu;Näppäimistö;
Keywords[fr]=Langue;Disposition;Clavier;
Keywords[ga]=Teanga;Leagan Amach;Méarchlár;
Keywords[gl]=Idioma:Distribución;Teclado;
Keywords[gu]=ભાષા;લેઆઉટ;કિબોર્ડ;
Keywords[he]=שפה;פריסה;מקלדת;
Keywords[hi]=भाषा;लेआउट;कुंजीपटल;
Keywords[hu]=Nyelv;kiosztás;billentyűzet;
Keywords[id]=Bahasa;Tata Letak;Papan Tik;
Keywords[it]=Lingua;Disposizione;Layout;Tastiera;
Keywords[ja]=Language;Layout;Keyboard;言語;レイアウト;キーボード;
Keywords[kk]=Тіл;Жайма;Пернетақта;
Keywords[km]=Language;Layout;Keyboard;
Keywords[kn]=ಭಾಷೆ;ವಿನ್ಯಾಸ;ಕೀಲಿಮಣೆ;
Keywords[ko]=Language;언어;Layout;배치;Keyboard;키보드;
Keywords[ky]=Тил;Такта;Алиптакта;
Keywords[lt]=Kalba;Išdėstymas;Klaviatūra;
Keywords[lv]=Valoda;Izkārtojums;Tastatūra;Language;Layout;Keyboard;
Keywords[mk]=Јазик;Распоред;Тастатура;
Keywords[ml]=Language;Layout;Keyboard;
Keywords[mr]=भाषा;मांडणी;किबोर्ड;
Keywords[nb]=Språk;Utforming;Tastatur;
Keywords[nl]=Language;Layout;Keyboard;Taal;Indeling;Toetsenbord;
Keywords[or]=ଭାଷା;ବିନ୍ୟାସ;କିବୋର୍ଡ;
Keywords[pa]=ਭਾਸ਼ਾ;ਲੇਆਉਟ;ਕੀਬੋਰਡ;Language;Layout;Keyboard;
Keywords[pl]=Język;Układ;Klawiatura;
Keywords[pt]=Idioma;Disposição;Teclado;
Keywords[pt_BR]=Idioma;Disposição;Teclado;
Keywords[ro]=Language;Layout;Limbă;Aranjamente;Limba;
Keywords[ru]=Язык;Раскладка;Клавиатура;
Keywords[sk]=Jazyk;Rozloženie;Klávesnica;
Keywords[sl]=Jezik;Razporeditev;Tipkovnica;
Keywords[sr]=Језик;Распоред;Тастатура;
Keywords[sr@latin]=Jezik;Raspored;Tastatura;
Keywords[sv]=Språk;Layout;Tangentbord;
Keywords[ta]=மொழி;இடஅமைவு;விசைப்பலகை
Keywords[te]=భాష;నమూనా;కీబోర్డు;
Keywords[th]=ภาษา;ผังแป้นพิมพ์;แป้นพิมพ์;
Keywords[tr]=Dil;Yerleşim;Klavye;
Keywords[ug]=تىل;جايلاشتۇرۇش;ھەرپتاختا
Keywords[uk]=Мова;Розкладка;Клавіатура;
Keywords[vi]=Language;Ngôn;ngữ;Ngon;ngu;Layout;Bố;trí;Bo;tri;Keyboard;Bàn;phím;Ban;phim;Kieu;go;
Keywords[zh_CN]=Language;Layout;Keyboard;语言;布局;键盘;
Keywords[zh_HK]=Language;Layout;Keyboard;語言;配置;鍵盤;
Keywords[zh_TW]=Language;Layout;Keyboard;語言;配置;鍵盤;
